{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Locations de salles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_path == 'hello' %} active {% endif %}">
                <a class="nav-link" href="{{ path('hello', {name: 'toto'}) }}">Accueil<span
                            class="sr-only">Accueil</span></a>
            </li>
            <li class="nav-item {% if current_path == 'hello-world' %} active {% endif %}">
                <a class="nav-link" href="{{ path('hello-world') }}">A Propos</a>
            </li>
            <li class="nav-item {% if current_path == 'form-new' %} active {% endif %}">
                <a class="nav-link" href="{{ path('form-new') }}">Contact</a>
            </li>
            <li class="nav-item {% if current_path == 'hello-twig' %} active {% endif %}">
                <a class="nav-link" href="{{ path('hello-twig', {name: 'toto'}) }}">Droits de l'homme</a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('hello-world') }}">Salles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('hello-world') }}">Locations</a>
            </li>
            <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                    <a class="dropdown-item" href="#">Preferences</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>